*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	list-style: none;
}
a{text-decoration: none;color: #999;}

body
{
	width: 100vw;
	height: 100vh;
	background-image: url('../img/fundo.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main
{
	width: 70%;
	/*width: 850px;*/
	height: 500px;
	background-color: #FFF;
	box-shadow: 0px 0px 100px #999;
	padding: 30px;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	flex-direction: column;
}
.title-1
{
	color: #999;
	font-size: 16px;
	font-weight: 400;
	padding: 4px 0;
}
.title-2
{
	color: #788;
	font-weight: 600;
	font-size: 20px;
	padding: 4px 0;
}
.title-3
{
	color: #555;
	font-size: 14px;
}
.texto-1
{
	color: #999;
	font-size: 12px;
	padding: 10px;
	width: 50%;
	text-align: center;
	line-height: 20px;
	margin: 0 auto;
	flex-wrap: wrap;
}
.texto-2
{
	width: 100%;
	color: #999;
	font-size: 12px;
	line-height: 16px;
	flex-wrap: wrap;
	padding: 10px 0;
}
.boxes
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center; 
	align-items: center;
}
.box2
{
	width: 200px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}
.box
{
	width: 220px;
	height: 130px;
	/*background-color: #FFF;*/
	color: #EEE;
	border-top: 5px solid #ff0000;
	padding: 15px;
	box-shadow: 0px 0px 8px #999;
	border-radius: 0 0 5px 5px;
	margin: 10px 30px;
	flex-wrap: wrap;
}
.box-2
{
	border-top: 5px solid blue;	
}
.box-3
{
	border-top: 5px solid orange;	
}
.box-4
{
	border-top: 5px solid purple;	
}
figure
{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
}
figure img
{
	height: 35px;
}

@media only screen and (max-width: 1200px){

	body
	{
		height: 100%;
	}
	.main
	{
		height: 100%;
		width: 90%;
	}
	.boxes
	{
		flex-direction: column;
	}
	.box
	{
		width: 90%;
	}
	.box2
	{
		width: 100%;
	}
}